<!-- app/views/order_mailer/order_confirmation.html.erb -->
<h1>Thank you for your order, <%= @order.name %>!</h1>
<p>Your order (<%= @order.id %>) has been successfully placed.</p>
<p>We will notify you once your items are shipped.</p>
